<div id="outer-div">
  <h2>Ng Tags Usage</h2>

  <!-- This button helps to show the ng container -->
  <button (click)="toggleNgContainer()">Toggle Ng Container</button>

  <!-- The ng - container tag is used to group elements together without the need for adding extra div elements unnessarily -->
  <ng-container *ngIf="isVisible">
    <p>This content is visible</p>
    <p>The value of isVisible is {{ isVisible }}</p>
  </ng-container>

  <div *ngIf="isLoggedIn; else notLoggedIn">
    <p>The user is logged In right now</p>
    <button (click)="toggleLoginStatus()">Log Out</button>
  </div>

  <!-- Ng Template is used for optional rendering of any component (This wont be rendered in the DOM until and unless the else block for the ngIf is triggered. Moreover it is not rendered without a ngIf block)-->
  <ng-template #notLoggedIn>
    <p>The user is logged out now</p>
    <button (click)="toggleLoginStatus()">Log In</button>
  </ng-template>

  <!-- This is an example of injecting content in the child component using ng-content tag -->
  <app-child>
    <p>This content is injected from the Parent</p>
  </app-child>
</div>
