:host {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 16px;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

p {
  padding: var(--padding--small);
  border-radius: var(--border--radius);
}

.primary-text {
  color: var(--primary-color);
}
