#outer-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

p {
  padding: 8px;
}

.primary-text {
  color: var(--primary-color);
}
