<div id="outer-container">
  <!-- Button Container -->
  <div id="button-container">
    <button (click)="toggleLogin()">
      {{ isUserLogged ? "Log Out" : "Login" }}
    </button>
    <button (click)="onDashboardClick()">Dashboard</button>
    <button (click)="onOtherClick()">Other</button>
  </div>

  <!-- Instructions or documentations -->
  <p>
    The Login Button takes 2 Seconds to run and then logs in the user
    hypothetically and redirects the user to the dashboard
  </p>
  <p>
    The Dashboard and other Route is locked and the user can only go inside the
    dashboard once its logged in
  </p>

  <!-- Router outlet for the child components -->
  <router-outlet />
</div>
