<div class="outer-container">
  <h2>Reference vs ViewChild()</h2>

  <!-- This showcases the use of template references -->
  <app-template-reff />

  <!-- This shows the use of @ViewChild() Decoration -->
  <app-view-child />

  <h2>ViewChild() Usage for Component : {{ childData || "Nothing" }}</h2>

  <!-- This button click triggers a function which fetches data from the Child Component using @ViewChild() -->
  <div>
    <button (click)="getChildData()">Get Child Data</button>
  </div>
</div>
