<form (ngSubmit)="onPostDataClick()">
  <!-- Title Container -->
  <input
    type="text"
    name="title"
    placeholder="Enter Title"
    [(ngModel)]="userInput.title"
  />

  <!-- Description container -->
  <input
    type="text"
    name="description"
    placeholder="Enter Description"
    [(ngModel)]="userInput.description"
  />

  <!-- Submit button -->
  <button type="submit">Send Data</button>
</form>

<!-- Post Data from the firebase -->
<div class="grid-container">
  <!-- Each Post Data -->
  <div class="card-container" *ngFor="let post of postData">
    <p>ID : {{ post.id }}</p>
    <p>Title : {{ post.title }}</p>
    <p>Description : {{ post.description }}</p>
  </div>
</div>
