#grid-container {
  min-width: 100vw;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 32px;
  padding: 32px;
}

.todo-title {
  align-self: center;
  color: var(--primary--color);
}

.strike {
  text-decoration: line-through;
}
