<div class="col-container">
  <!-- Container to input post  -->
  <div class="row-container width-50-vw">
    <!-- Title Input Container -->
    <input
      class="flex-1"
      type="text"
      placeholder="Enter Title"
      [(ngModel)]="userInput.title"
    />

    <!-- Description Input Container -->
    <input
      class="flex-1"
      type="text"
      placeholder="Enter Body"
      [(ngModel)]="userInput.body"
    />

    <!-- Input for User id Container -->
    <input
      type="number"
      placeholder="Enter User Id"
      [(ngModel)]="userInput.userId"
    />

    <!-- Submit Button to push the post -->
    <button (click)="onSubmitClick()">Submit</button>
  </div>

  <!-- Card Container for all the fetched post list -->
  <div
    class="card-container row-container width-50-vw"
    *ngFor="let post of postList"
  >
    <div class="col-container">
      <p>{{ post.id }}</p>
      <p>{{ post.userId }}</p>
      <p>{{ post.title }}</p>
      <p>{{ post.body }}</p>
    </div>

    <!-- Button to delete post from the post -->
    <button class="destructive-btn" (click)="onDeleteClick(post.id)">
      Delete
    </button>
  </div>
</div>
