<form [formGroup]="signUpForm" (ngSubmit)="onSubmitClick()">
  <h3>Sign Up Form</h3>

  <!-- User's name and lastname input container -->
  <div class="input-container">
    <div class="row-container" formGroupName="name">
      <!-- First name input field -->
      <input
        type="text"
        placeholder="Enter your firstname"
        formControlName="firstName"
      />

      <!-- Last Name input field -->
      <input
        type="text"
        placeholder="Enter your lastname"
        formControlName="lastName"
      />
    </div>

    <!-- Error text for the firstname and last name inputs -->
    <p class="error-text" *ngIf="isNameError">
      Please enter the values in the firstname and last field
    </p>
  </div>

  <!-- Input container for the username input field -->
  <div class="input-container">
    <input
      type="text"
      placeholder="Enter your Username"
      formControlName="username"
    />

    <!-- Error text for the username input field -->
    <p class="error-text" *ngIf="isUsernameError">
      Please Enter a valid Username !!
    </p>
  </div>

  <!-- Input container for the email input field -->
  <div class="input-container">
    <input
      type="email"
      placeholder="Enter your Email"
      formControlName="email"
    />

    <!-- Error text for the email input field -->
    <p class="error-text" *ngIf="isEmailError">
      Please Enter a valid Email address !!
    </p>
  </div>

  <!-- Input container for contact info -->
  <div class="input-container">
    <div class="row-container" formGroupName="contactInfo">
      <!-- Input field for phone number -->
      <input
        type="number"
        placeholder="Enter phone Number"
        formControlName="phoneNumber"
      />

      <!-- Input field for whatsapp number -->
      <input
        type="number"
        placeholder="Enter Whatsapp Number"
        formControlName="whatsappNumber"
      />
    </div>

    <!-- Error text for the phone number field -->
    <p class="error-text" *ngIf="isPhoneNumberError">
      Enter a valid Phone Number
    </p>
  </div>

  <!-- Interest Container group -->
  <div class="interest-container" formArrayName="interests">
    <div *ngFor="let interest of interests.controls; let i = index">
      <input type="text" placeholder="Enter interest" [formControlName]="i" />
    </div>

    <!-- Button to add another input -->
    <button type="button" (click)="onInterestAdd()">Add</button>
  </div>

  <!-- Input container for password field -->
  <div class="input-container" formGroupName="passwordInfo">
    <!-- Password Field Entry -->
    <input
      type="password"
      placeholder="Enter your password"
      formControlName="password"
    />

    <!-- Confirm Password Entry -->
    <input
      type="password"
      placeholder="Confirm your password"
      formControlName="confirmPassword"
    />

    <!-- This is the error text for the password group -->
    <p class="error-text" *ngIf="isPasswordInvalid">
      Please enter valid password and do not keep it empty
    </p>
  </div>

  <!-- This button is used to submit to a form -->
  <button type="submit" [disabled]="!signUpForm.valid">Sign Up User</button>
</form>
