<!-- In this example we use string interpolation to bind data -->
<app-interpolation></app-interpolation>

<div>
  <!-- In this example we use property binding -->
  <app-prop-binding></app-prop-binding>

  <!-- In this example we use event binding -->
  <app-event-binding></app-event-binding>

  <!-- This is an example of two way Binding -->
  <app-two-way-binding></app-two-way-binding>

  <!-- Form Login -->
  <app-login-form></app-login-form>

  <!-- Counter Component -->
  <app-counter></app-counter>
</div>

<app-assignment-03></app-assignment-03>
