<header>
  <nav>
    <ul id="outer-nav-container">
      <!-- Day 01 Option -->
      <li class="outer-nav-option">
        Day 01
        <ul class="inner-nav-container">
          <li>
            <a
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home Page</a
            >
          </li>
        </ul>
      </li>

      <!-- Day 02 Option -->
      <li class="outer-nav-option">
        Day 02
        <ul class="inner-nav-container">
          <li>
            <a routerLink="/interpolation" routerLinkActive="active">
              String Interpolation
            </a>
          </li>
          <li>
            <a routerLink="/prop-binding" routerLinkActive="active">
              Property Binding
            </a>
          </li>
          <li>
            <a routerLink="/event-binding" routerLinkActive="active">
              Event Binding
            </a>
          </li>
          <li>
            <a routerLink="/two-way-binding" routerLinkActive="active">
              2 Way Binding
            </a>
          </li>
          <li>
            <a routerLink="/login-form" routerLinkActive="active">
              Login Form
            </a>
          </li>
          <li>
            <a routerLink="/counter" routerLinkActive="active"> Counter </a>
          </li>
        </ul>
      </li>

      <!-- Day 03 Option -->
      <li class="outer-nav-option">
        Day 03
        <ul class="inner-nav-container">
          <li>
            <a routerLink="/assignment03" routerLinkActive="active">
              Directives - Assignment 03
            </a>
          </li>
          <li>
            <a
              routerLink="/component-communication-parent"
              routerLinkActive="active"
            >
              Communication B/w Components
            </a>
          </li>
          <li>
            <a routerLink="/template-view-child-diff" routerLinkActive="active">
              Template and ViewChild()
            </a>
          </li>
          <li>
            <a routerLink="/ng-tags" routerLinkActive="active">Ng Tags</a>
          </li>
          <li>
            <a routerLink="/directive-testing" routerLinkActive="active">
              Custom Directives
            </a>
          </li>
        </ul>
      </li>

      <!-- Day 04 Option -->
      <li class="outer-nav-option">
        Day 04
        <ul class="inner-nav-container">
          <li>
            <a routerLink="/service-testing" routerLinkActive="active">
              Service
            </a>
          </li>
          <li>
            <a routerLink="/todo" routerLinkActive="active">Todo Project</a>
          </li>
        </ul>
      </li>

      <!-- Day 05 Option -->
      <li class="outer-nav-option">
        Day 05
        <ul class="inner-nav-container">
          <li>
            <a routerLink="/route" routerLinkActive="active">Routes</a>
          </li>
          <li>
            <a routerLink="/observable-testing" routerLinkActive="active">
              Observable
            </a>
          </li>
          <li>
            <a routerLink="/subject-testing" routerLinkActive="active">
              Subjects
            </a>
          </li>
        </ul>
      </li>

      <!-- Day 06 Option -->
      <li class="outer-nav-option">
        Day 06
        <ul class="inner-nav-container">
          <li>
            <a routerLink="/form-testing" routerLinkActive="active">
              Form Testing
            </a>
          </li>
          <li>
            <a routerLink="/reactive-form-testing" routerLinkActive="active">
              Reactive Form Testing
            </a>
          </li>
        </ul>
      </li>

      <!-- Day 08 Option -->
      <li class="outer-nav-option">
        Day 08
        <ul class="inner-nav-container">
          <li>
            <a routerLink="/http-testing" routerLinkActive="active">
              Http Testing
            </a>
          </li>
        </ul>
      </li>

      <!-- Day 09 Option -->
      <li class="outer-nav-option">
        Day 09
        <ul class="inner-nav-container">
          <li>
            <a
              routerLink="/dynamic-component-testing"
              routerLinkActive="active"
            >
              Dynamic Component Testing
            </a>
          </li>

          <li>
            <a routerLink="/firebase-testing" routerLinkActive="active">
              Firebase Testing
            </a>
          </li>

          <li>
            <a routerLink="/firebase-auth-testing" routerLinkActive="active">
              Firebase Auth Testing
            </a>
          </li>
        </ul>
      </li>

      <!-- Day 10 Option -->
      <li class="outer-nav-option">
        Day 10
        <ul class="inner-nav-container">
          <li>
            <a routerLink="/ngrx-counter" routerLinkActive="active">
              NgRx Counter
            </a>
          </li>
          <li>
            <a routerLink="/animation-testing" routerLinkActive="active">
              Animation Testing
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>

<!-- Main Screen will have the router outlet component -->
<main>
  <router-outlet></router-outlet>
</main>
