<div id="root">
  <header>
    <nav>
      <ul id="outer-nav-container">
        <!-- Day 01 Option -->
        <li class="outer-nav-option">
          Day 01
          <ul class="inner-nav-container">
            <li><a routerLink="/">Home Page</a></li>
          </ul>
        </li>

        <!-- Day 02 Option -->
        <li class="outer-nav-option">
          Day 02
          <ul class="inner-nav-container">
            <li><a routerLink="/interpolation">String Interpolation</a></li>
            <li><a routerLink="/prop-binding">Property Binding</a></li>
            <li><a routerLink="/event-binding">Event Binding</a></li>
            <li><a routerLink="/two-way-binding">2 Way Binding</a></li>
            <li><a routerLink="/login-form">Login Form</a></li>
            <li><a routerLink="/counter">Counter</a></li>
          </ul>
        </li>

        <!-- Day 03 Option -->
        <li class="outer-nav-option">
          Day 03
          <ul class="inner-nav-container">
            <li>
              <a routerLink="/assignment03">Directives - Assignment 03</a>
            </li>
            <li>
              <a routerLink="/component-communication-parent"
                >Communication B/w Components</a
              >
            </li>
            <li>
              <a routerLink="/template-view-child-diff"
                >Template and ViewChild()</a
              >
            </li>
            <li><a routerLink="/ng-tags">Ng Tags</a></li>
            <li><a routerLink="/directive-testing">Custom Directives</a></li>
          </ul>
        </li>

        <!-- Day 04 Option -->
        <li class="outer-nav-option">
          Day 04
          <ul class="inner-nav-container">
            <li><a routerLink="/service-testing">Service</a></li>
            <li><a routerLink="/todo">Todo Project</a></li>
            <li><a routerLink="/route">Routes</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>
