<h2>Directives Testing</h2>

<!-- Basic Directives is being used here (Not recommended approach) -->
<p appBasicHighlight>Basic Highlight Directive at Work!</p>

<!-- Rendered Directive (Recommended for general cases)-->
<p appRendererHighlight>Rendered Highlight Directive at Work</p>

<!-- Using Host Listener along with Render (Good for event driven use cases)-->
<p appHostListenerHighlight>Rendered with Host Listener on hover</p>

<!-- Using Host Listener and Host Binding to render this element (Easiest and most preferred way) -->
<p
  appHostListenerAndBinding
  [defaultColor]="'lightblue'"
  [highlightColor]="'red'"
>
  Rendered with Host Listener and Host Binding on Hover
</p>

<!-- Structural Directive which is custom implementation for the ngIf directive -->
<p *appStructural="true">This View is now Visible</p>
